@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.ReactModal__Overlay {
  background-color: #111111a1 !important;
  z-index: 100;
}
html{
  scroll-behavior: smooth;
}


.proceed li::marker {
  content: '✓ ';
  font-size: 1em;
  color: #2A4CFF;
}

.desc_content h4 {
  font-size: 24px;
  line-height: 30.72px;
  color: #2A4CFF;
  font-weight: bold;
  margin-bottom: 20px;
}

.desc_content p {
  font-size: 18px;
  line-height: 24.89px;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
}

.desc_content p strong {
  font-weight: 600;
}

.desc_content ul {
  font-size: 18px;
  line-height: 24.89px;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside;
}

.desc_content ol {
  font-size: 18px;
  line-height: 24.89px;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
}
.desc_content a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .proceed li::marker {
    content: '';
  }
}

[data-testid='group-tab-all-fields'] {
  display: none !important;
}

.bar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.bar::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.bar::-webkit-scrollbar-thumb {
  background: #803DFF; 
  border-radius: 10px;
}