@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay{
  background-color: #111111a1 !important;
  z-index: 100;
}

[data-testid='group-tab-all-fields'] {
  display: none !important;
}